<head>
    
    <title></title>
    <style>
        .table,td{
            border: 1px solid black;
            text-align: center;
            
        }
       
    </style>
</head>


<table class="table">
    <tr>
        <td><app-button-save></app-button-save></td>
        <td><app-button-save></app-button-save></td>
        </tr>
     <tr>
        <td><app-button-save></app-button-save></td>
        <td><app-button-save></app-button-save></td>
        </tr>
        
    <tr>
        <td><app-button-save></app-button-save></td>
        <td><app-button-save></app-button-save></td>
        </tr>
        

    </table>
    